/* -----------------INICIO contacto----------------- */
@import "colores";

.container__contacto{
    height: auto;
    background-color:$contacto-color-background;
    width: 90vw;
    display: flex;
    flex-direction: column;
    margin: auto;

    .contacto__bg{
        margin-top: 90px;
        background-image:url(imagenes/fondo_contacto.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 260px;
        width: 90vw;
    
    }
    .contacto__main{
        display: flex;
        background-color: $contacto-color-background;
        padding: 90px 20px;
        height: 550px;
        width: 90vw;
    
        .image{
            width: 40vw;
            height: 350px;
            border-radius: 2000px;
            border: 1px solid black;
            background-image: url(imagenes/gato_grande.jpg);
            background-position: center;
            background-size: cover;
            
        }
        .main__div{
            width: 60vw;
            height: 350px;
            h2{
                padding-left: 25vw;
                color: #222;
            }
            .form{
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding: 10px;
                gap: 15px;
                .input{
                    margin: auto;
                    margin-right: 10px;
                    height: 30px;
                    width:55%;
                }
                .input-msg{
                    height: 100px;
                }
                .input-sumbit{
                    width: 30%;
                }
            }
        }
    }
}


/* -----------------FIN contacto----------------- */

